{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-4"> 
        <h1>Editer une recette</h1>
         {{ form_start(form) }}
            {{ form_rest(form) }}
            <input type="submit" class="btn btn-success" value="Valider">
         {{ form_end(form) }}
    </div>


{% endblock %}